body{
    background: linear-gradient(#b8e4f2,white);
    min-height:100vh;
    margin:0;
}
p{
    margin:5px;
}
h2{
    font-size:20px;
    border-left: solid 10px skyblue;
    border-bottom: solid 1px skyblue;
    padding: 3px 10px;
    margin: 15px 0;
}
table{
    border: none;
}
th{
    text-align: right;
    padding: 5px;
}
td{
    padding: 5px;
}

#wrap{
    position: relative;
    width:1000px;
    margin:auto;
    padding-top:20px;
}
#left{
    float: left;
    width: 700px;
    box-sizing: border-box;
}
#right{
    float: right;
    width:300px;
}
#icon{
    width:150px;
    height:150px;
    float: left;
}
#icon img{
    border:none;
    border-radius: 17px;
    box-shadow: 0px 0px 20px #bebebe;
}
#name{
    margin-left: 170px;
    margin-top: 50px;
}
.name{
    margin:5px;
    font-size: 40px;
}
.account{
    margin:5px;
    font-size: 20px;
    color: dimgray;
}
#content{
    clear: both;
    padding-top: 10px;
    padding-right: 10px;
}